@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Nunito:600i');
@import url('https://fonts.googleapis.com/css?family=Heebo:400');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Biryani:800|Heebo:300|Iceland|Racing+Sans+One|Sarpanch:800|Six+Caps');

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin full_image($spread_image){
  width: 100%;
  background-image: url($spread_image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin half_image($hero){
  width: 50%;
  background-image: url($hero);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

$hero-images: (
  "Genji":  ("./HeroImages/NaviPng/Genji_background.jpg", "./HeroImages/NaviPng/Genji_navi.png"),
  "Mccree": ("./HeroImages/NaviPng/Mccree_background.jpg", "./HeroImages/NaviPng/Mccree_navi.png"),
  "Tracer": ("./HeroImages/NaviPng/Tracer_background.jpg", "./HeroImages/NaviPng/Tracer_navi.png"),
  "Pharah": ("./HeroImages/NaviPng/Pharah_background.jpg", "./HeroImages/NaviPng/Pharah_navi.png"),
  "Reaper": ("./HeroImages/NaviPng/Reaper_background.jpg", "./HeroImages/NaviPng/Reaper_navi.png"),
  "Sombra": ("./HeroImages/NaviPng/Reaper_background.jpg", "./HeroImages/NaviPng/Sombra_navi.png"),
  "Ana": ("./HeroImages/NaviPng/Ana_background.jpg", "./HeroImages/NaviPng/Ana_navi.png"),
  "Bastion": ("./HeroImages/NaviPng/Bastion_background.jpg", "./HeroImages/NaviPng/Bastion_navi.png"),
  "Hanzo": ("./HeroImages/NaviPng/Hanzo_background.jpg", "./HeroImages/NaviPng/Hanzo_navi.png")
);

@each $hero-images, $keyName in $hero-images{
  $background-image: nth($keyName, 1);
  $hero-image: nth($keyName, 2);
  .#{$hero-images}{
    display: flex;
    max-width:100%;
    height: 500px;
    @include full_image($background-image);
    .hero-specific-image{
      width: 50%;
      @include half_image($hero-image);
    }

    .hero-specific-slogan{
      width: 50%;
      color: white;
      text-align: center;
      font-size: 3em;
    }
  }
}
// .hero{
//   display: flex;
//   max-width:100%;
//   height: 500px;
//
//   .hero-specific-image{
//     width: 50%;
//     @include half_image("./HeroImages/NaviPng/Genji_navi.png");
//   }
//
//   .hero-specific-slogan{
//     width: 50%;
//     color: white;
//     text-align: center;
//     font-size: 3em;
//   }
// }
//
// .Genji{
//   @include full_image("./HeroImages/NaviPng/Genji_background.jpg")
//   @extend .hero;
// }



$padding: 24px;
$sidebar_width: 50px;

body, html {
    height: 100%;
}


.navbar{
  border: 0px;
  margin-bottom: 0px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  &.navbar-default{
    border-color: transparent;
    background-color: #2e3c62;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .navbar-brand{
      font-size: 2em;
      font-family: 'Nunito', sans-serif;
      color:white;
    }
    &.navbar-static-top{
      margin-bottom: 0px;
    }
  }
}

#heros{
  background-color: #458dcb;
}
.container{
  height: 100%;
  width: 100%;
  background-color: #458dcb;
  padding-left: 0px;
  padding-right: 0px;
}

.catch-us-on{
  height: 40px;
  font-family: 'Heebo', sans-serif;
  color: black;
  background-color: #3399FF;
  line-height: 40px;
  text-align: center;
  width: 100%;
  font-size: 1.25em;
  img.discord-logo{
    width: 5em;
    padding-bottom: 3px;
  }
}

.hero-image{
  display: block;

  background-image: url("newbackground.png");
  background-color: #2e3c62;
  max-width:100%;
  height: 500px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  .hero-slogan{
    color: white;
    text-align: center;
    font-size: 3em;
  }

  h1{
    font-size: 2em;
    margin-top: 0px;
    font-family: 'Iceland', cursive;
  }

  h2{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
  }

  h3{
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
  }
}

h1.title{
  color: white;
  font-family: 'Titillium Web', sans-serif;
}

.hero-portrait{
  background-color: blue;
}

.test-animation{
  width: 100px;
  height: 100px;
  background-color: red;
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}

.test-animation:hover{
  width:500px;
}

.side-menu{
  display: block;
  >div{
    position:fixed;
    z-index:2;
    top:0;
    width:50px;
    height:100%;
    box-sizing: border-box;
    @include transition(transform 1s ease);
    @include transition(-webkit-transform 1s ease);
    &.left{
      background:#273D7A;
      left: -50px;
    }
    &.visible.left{
      padding-top: 5%;
      transform: translate3d(50px, 0, 0);
      -webkit-transform: translate3d(50px, 0, 0);
    }
    >.side-menu-item{
      float:left;
      width:100%;
      margin:0;
      top: 40%;
      cursor:pointer;
      // box-sizing: border-box;
      .items{
        padding-top: 50px;
      }
      .items img:hover{
        background-color: grey;
      }
      img{
        max-height: 30px;
        max-width: 30px;
      }
    }
  }
}

.hero-icons{
  text-align: center;
  padding-top: 10px;
  img{
    padding-left: 0px;
    padding-right: 0px;
    max-height: 30px;
    max-width: 30px;
  }
}
